rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Enable full read/write access for custom application-managed login & roles.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
